﻿#wrapper {
    width: 80%;
}


.studentgridview {
    width:100%;
    margin: 5px 0 10px 0;
    border: solid 1px black;
    background-color:white;
}


.studentgridview td {
    padding:10px; 
    border: solid 1px black;
    color:black;
}

    .studentgridview th {
        background-color:#f3e222;
        text-align:center;
        padding: 10px 2px;
        border: solid 1px black;
        color: black;
    }

.studentgridview tr:nth-child(even) {
    background-color: #ffffff;
}

.studentgridview tr:nth-child(odd) {
    background-color: #dcdcdc;
}

.studentgridview .alt{
    background:#dcdcdc;
}

.studentgridview .pgr{

    background: #dcdcdc;

}
    .studentgridview .pgr table {
        margin: 5px 0;
    }

    .studentgridview .pgr td {
        border-width:0;
        padding: 0 6px;
        border-left: solid 1px black;
    }
    .studentgridview .pgr a{
        color:black;
        text-decoration:none;
    }

.CenterRow {
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
}

.EmployeeGrid {
    width: 100%;
    margin: 5px 0 10px 0;
    border: solid 1px black;
    background-color: white;
}


    .EmployeeGrid td {
        padding: 10px;
        border: solid 1px black;
        color: black;
    }

    .EmployeeGrid th {
        background-color: #f3e222;
        text-align: center;
        padding: 10px 2px;
        border: solid 1px black;
        color: black;
    }

    .EmployeeGrid tr:nth-child(even) {
        background-color: #ffffff;
    }

    .EmployeeGrid tr:nth-child(odd) {
        background-color: #dcdcdc;
    }

    .EmployeeGrid .alt {
        background: #dcdcdc;
    }

    .EmployeeGrid .pgr {
        background: #dcdcdc;
    }

        .EmployeeGrid .pgr table {
            margin: 5px 0;
        }

        .EmployeeGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px black;
        }

        .EmployeeGrid .pgr a {
            color: black;
            text-decoration: none;
        }



