﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Admin/Admin.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="PerceptumIIP.Views.Admin.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
  <p align="center"><iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMTM1MjNmNTctMzIyNi00YWY3LWI1MzctNmQ3ZTdlYmZkZTI2IiwidCI6ImNiYTllMTE1LTMwMTYtNDQ2Mi1hMWFiLWE1NjVjYmEwY2RmMSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe></p>
    
</asp:Content>
