﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Teachers.aspx.cs" Inherits="PerceptumIIP.Teachers" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <style>
        .starRating {
            width:50px;
            height:50px;
            cursor: pointer;
            background-repeat:no-repeat;
            display:block;
        }

       .starempty
        {
            background-image:url(Content/images/starempty.png);
            width: 50px;
            height: 50px;
        }
.starfilled
        {
            background-image: url(Content/images/starfilled.png);
            width: 50px;
            height: 50px;
        }
.starwaiting
        {
            background-image: url(Content/images/starwaiting.png);
            width: 50px;
            height: 50px;
        }
    
    </style>
    <br />
    <br />
    <asp:Label ID="Label1" runat="server"></asp:Label>




</asp:Content>
