﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Portals/Admin/Admin.Master" AutoEventWireup="true" CodeBehind="Inventory.aspx.cs" Inherits="IntegratedInfocommProject.Views.Portals.Admin.Inventory" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <asp:GridView runat="server" ID="inventoryGrid" Height="783px" Width="1259px">

            </asp:GridView>
 


            
   
            <%--<table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Name </th>
                        <th>Product Description</th>
                        <th>Product Category</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                         <td>  P001 </td>
                         <td>  Mathematics Revision Package  </td>
                         <td>  Topical Revision Package to test skills! </td>
                          <td>  Revision Package</td>
                         <td><asp:Button ID="Button1" runat="server" Text="Edit" OnClick="Button1_Click" /> </td>
                    </tr>
                </tbody>

                 <tbody>
                    <tr>
                         <td>  P002 </td>
                         <td>  Science Assessment Book  </td>
                         <td>  Yearly Assessment Books! </td>
                         <td>  Assessment Book</td>
                         <td><asp:Button ID="Button2" runat="server" Text="Edit" /> </td>
                    </tr>
                </tbody>



   </table>--%>

</asp:Content>
