﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Portals/Teacher/Teacher.Master" AutoEventWireup="true" CodeBehind="Main.aspx.cs" Inherits="IntegratedInfocommProject.Views.Portals.Teacher.Main1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">


    <div class="row">
        <h2>Dashboard</h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <img width="900" height="300"src="../../../Content/images/next%20class%20time.JPG" />
            </div>
            <div class="row">
                <img width="900" height="500" src="../../../Content/images/to%20do%20list.JPG" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <img width="500" height="700" src="../../../Content/images/class%20performance.JPG" />
            </div>
        </div>
    </div>
</asp:Content>
