﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Portals/Parent/Parents.Master" AutoEventWireup="true" CodeBehind="Feedback.aspx.cs" Inherits="IntegratedInfocommProject.Views.Portals.Parent.Feedback" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Feedback</h1>


    class and respective grade - button to give feedback 
    feedback form 
    give feedback and update to the table 









    <br />

    <table class="table table-hover">
        <tbody>
            <tr>
            <td>Class</td>
            <td>
                <asp:DropDownList runat="server">
                    <asp:ListItem>English</asp:ListItem>
                    <asp:ListItem>Mathematics</asp:ListItem>
                    <asp:ListItem>Science</asp:ListItem>
                </asp:DropDownList>
            </td>
            </tr>
            <tr>
            <tr>
                   <td>Topic</td>
            <td>
                <textarea>

                </textarea>
            </td>
            <tr>
            <tr>
            <td>Feedback</td>
            <td>
                <textarea>

                </textarea>

            </td>
            </tr>
         

        </tbody>
    </table>

    <br />
    <a href="#" class="btn btn-danger">Give feedback</a>
</asp:Content>
