﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Portals/Parent/Parents.Master" AutoEventWireup="true" CodeBehind="ParentMain.aspx.cs" Inherits="IntegratedInfocommProject.Views.Portals.Parent.ParentMain" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">


    <div class="row">
        <h2>Dashboard</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <img width="800" height="400" src="../../../Content/images/Student%20Performance.JPG" />
            </div>
            <div class="row">
                <img width="800" height="400" src="../../../Content/images/Monthy%20Progress.JPG" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <img width="300" height="500" src="../../../Content/images/Recentnews.JPG" />
            </div>
            <div class="row">
                <img width="300" height="300" src="../../../Content/images/outstanding%20payment.JPG" />
            </div>
        </div>
            
    </div>

</asp:Content>
