﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="DashBoards.aspx.cs" Inherits="IntegratedInfocommProject.DashBoards" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">


    <div class="row" display:"inline-block">
        
        <div class="col-md-4"><a href="http://localhost:54827/Views/Portals/Teacher/Main" ><img src="Content/images/62983-200.png" /></a></div>
        <div class="col-md-4"><a href="http://localhost:54827/Views/Portals/Admin/Dashboard" ><img src="Content/images/Administrator-icon.png" /></a></div>
        <div class="col-md-4"><a href="http://localhost:54827/Views/Portals/Parent/ParentMain" ><img src="Content/images/parents.jpg"/></a></div>


    </div>




</asp:Content>
