﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Teacher/Teacher.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="PerceptumIIP.Views.Teacher.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">



      <p align="center"> <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiODU2MTY3YzEtMjlmOS00ZGU4LWIxZTAtY2QwZDI5ODY3MWNiIiwidCI6ImNiYTllMTE1LTMwMTYtNDQ2Mi1hMWFiLWE1NjVjYmEwY2RmMSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe> </p>

</asp:Content>
